.bar {
  background-color: rgb(35, 31, 32);
  font-size: 6vh;
}
.logo {
  width: 15vw;
  height: 11.7vh;
  background-color: rgb(35, 31, 32);
}
@media (max-width: 700px) {
  /* For mobile phones: */
  .bar {
    font-size: 2vh;  
  }
  .logo{
    width:30vw;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  /* For tables: */
  .bar {
    font-size: 3vh;  
  }
  .logo{
    width:22vw;
  }
}
